.subtitle {
  margin-bottom: 0;

  &:first-child {
    margin-top: 0;
  }
}
.flightInfo {
  display: flex;
  justify-content: space-between;
  font-size: 0.7rem;
}
.airportFrom {

}

.airportTo {

}

.code {
  font-size: 1.2rem;
  text-transform: uppercase;
}
